*:focus {
    outline: none;
    border: 2px solid;
}

body {
    background-color: #00356b;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}       

header {
    background-color: #222222;
    padding: 5px;
    margin-bottom: 20px;
}

h1 {
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

h2 {
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

h3 {
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

a {
    color: white;
}

.dark-anchor {
    color: black;
}

a:hover {
    border: 2px solid white;
}

.dark-anchor:hover {
    border: 2px solid black;
}

li {
    margin-bottom: 10px;
}

.intro {
    background-color: #dddddd;
    color: black;
    padding: 5px;
    margin-bottom: 20px;
}

.quick-links {
    background-color: #222222;
    color: white;
    padding: 5px 0;
    margin-bottom: 20px;
}

#toggle-quick-links:hover {
    background-color: #007bff;
}

#toggle-quick-links:focus {
    outline: none;
    background-color: #007bff;
}

#quick-links-content {
    display: none;
}

#toggle-quick-links {
    cursor: pointer;
    background-color: #0054AD;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.on-this-page {
    background-color: #222222;
    color: white;
    padding: 5px;
    font-weight: bold;
}

footer {
    background-color: #222222;
    color: white;
    padding: 5px;
}

.happening-at-soa {
    background-color: #222222;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}

.happening-at-soa-calendar {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.community-board-article {
    background-color: #dddddd;
    color: black;
    padding: 5px;
    margin-bottom: 20px;
}

.community-board-article-links {
    background-color: #222222;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.calendars-newsletters-links {
    background-color: #222222;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}

.disclaimer {
    background-color: #dddddd;
    color: black;
    padding: 5px;
    margin-bottom: 20px;
}

.calendar-event {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    background-color: #dddddd;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.additional-event-info {
    margin-top: 10px;
    padding: 10px;
    background-color: #dddddd;
    border-top: 1px solid #ccc;
    width: 97%;
}

.calendar-date {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.date-bar {
    width: 5px;
    height: 50px;
    background-color: #007bff;
    margin-right: 10px;
}

.date-text {
    text-align: center;
}

.date-number {
    font-size: 24px;
    font-weight: bold;
}

.date-month {
    font-size: 16px;
}

.event-details {
    display: flex;
    flex-direction: column;
}

.event-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.event-date,
.event-address,
.event-category {
    font-size: 16px;
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.subscribe-button {
    background-color: #0054AD;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.right-buttons {
    display: flex;
    margin-left: auto;
}

.previous-events-button {
    background-color: #dddddd;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.upcoming-events-button {
    background-color: #dddddd;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.filter-events-button {
    background-color: #0054AD;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.search-events-button {
    background-color: #0054AD;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.filter-events-button:hover,
.search-events-button:hover {
    background-color: #007bff;
}

.filter-events-button:focus, 
.search-events-button:focus {
    outline: none;
    background-color: #007bff;
}

.event-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.event-button:hover,
.subscribe-button:hover {
    background-color: #007bff
}

.event-button:focus,
.subscribe-button:focus {
    outline: none;
    background-color: #007bff;
}

.previous-events-button:hover {
    background-color: rgba(211, 211, 211, 0.897);
}

.upcoming-events-button:hover {
    background-color: rgba(211, 211, 211, 0.897);
}

.previous-events-button:focus {
    outline: none;
    background-color: rgba(211, 211, 211, 0.897);
}

.upcoming-events-button:focus {
    outline: none;
    background-color: rgba(211, 211, 211, 0.897);
}

.toggle-event-info-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #0054AD;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 0.15em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
}

.toggle-event-info-button:hover {
    background-color: #007bff;
}

.toggle-event-info-button:focus {
    outline: none;
    background-color: #007bff;
}

@media (max-width: 775px) {
    body {
        width: 95%;
    }

    .subscribe-button,
    .filter-events-button,
    .search-events-button,
    .toggle-event-info-button,
    .previous-events-button,
    .upcoming-events-button {
        padding: 5px 10px;
        font-size: 14px;
    }
}

@media (max-width: 610px) {
    .subscribe-button {
        margin-right: 10px;
    }
}

@media (max-width: 375px) {
    .subscribe-button,
    .filter-events-button,
    .search-events-button,
    .toggle-event-info-button,
    .previous-events-button,
    .upcoming-events-button {
        padding: 2px 2px;
        font-size: 14px;
    }
}