body {
    background-color: #00356b;
    color: #ffffff;
}

header {
    background-color: #222222;
}

a {
    color: white;
}

a:hover {
    border: 1px solid white;
}

.intro {
    background-color: #dddddd;
    color: black;
}

.quick-links {
    background-color: #222222;
    color: white;
}

#quick-links-content {
    display: none;
}

#toggle-quick-links {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.on-this-page {
    background-color: #222222;
    color: white;
}

footer {
    background-color: #222222;
    color: white;
}

.happening-at-soa {
    background-color: #222222;
    color: white;
}

.community-board-article {
    background-color: #dddddd;
    color: black;
}

.community-board-article-links {
    background-color: #222222;
    color: white;
}

.calendars-newsletters-links {
    background-color: #222222;
    color: white;
}

.disclaimer {
    background-color: #dddddd;
    color: black;
}

.calendar-event {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: #dddddd;
}

.calendar-date {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.date-bar {
    width: 5px;
    height: 50px;
    background-color: #007bff;
    margin-right: 10px;
}

.date-text {
    text-align: center;
}

.date-number {
    font-size: 24px;
    font-weight: bold;
}

.date-month {
    font-size: 16px;
}

.event-details {
    display: flex;
    flex-direction: column;
}

.event-name {
    font-size: 18px;
    font-weight: bold;
}

.event-date,
.event-address {
    font-size: 14px;
}